ion-header{
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content:end;
}
#bloco1{
    background: #1C2143;
    color: #fff;
    padding: 50px 60px 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bloco2{
    margin-top: 40px;
}