<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Procure um livro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header >
      <ion-title size="large">Procure um livro</ion-title>
  </ion-header>

  <ion-searchbar show-clear-button="focus" value="digite aqui.."></ion-searchbar><br>
  <!-- <img src="../../../../assets/imgs/celInfoFundBrabco.gif" alt=""> -->
  <img src="../../../../assets/imgs/imgPesquisar.png" alt="">
</ion-content>
